stayler.css
#logo{
    width: 70px;
    height: 70px;
    }
    .cartao{
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    
    .titulo{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img1{
       width: 250;
        height: 280px;
        
    }
    .img2{
        width: 250;
        height: 280px;
    }
    .img3{
        width: 250;
    height: 280px;
    }